body {
    margin: 0;
    padding: 0;
    background-color: greenyellow;
  }

  .container {
    overflow: hidden; 
    padding: 20px;

    @media only screen and (max-width: 768px) {
      padding: 50px;

    }

    @media only screen and (max-width: 420px) {
      padding: 20px;

    }

  

  .leftDiv {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding:70px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-top: 0px;
      padding: 35px;

    }

    @media only screen and (max-width: 420px) {
      
        width: 100%;
        margin-top: 0px;
        padding: 25px;
  
      
    }

  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .rightDiv {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px 0;
    border-radius: 10px;
    margin-top: 150px;

  @media screen and (max-width: 768px){
  
      
      width: 100%;
      margin-top: 0px;
      padding: 60px;
   
  }

  @media only screen and (max-width: 420px) {
    
      width: 100%;
      margin-top: 0px;
      padding: 20px;

  }

  }

}










  /* @media only screen and (max-width: 768px) {
    .leftDiv
    {
      width: 100%;
      margin-top: 0px;
      padding: 35px;
    }
    .rightDiv {
      
      width: 100%;
      margin-top: 0px;
      padding: 100px;
    }
  } 


   @media only screen and (max-width: 420px) {
    .leftDiv{
      width: 100%;
      margin-top: 0px;
      padding: 25px;

    }
    .rightDiv {
      width: 100%;
      margin-top: 0px;
      padding: 20px;
  
    }
  } */